<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="header-container">
	<header class="wrapper clearfix">
		<a href="/">
			<h1 class="title">{{ site.title }}</h1>
		</a>
		<nav>
			<ul>
				{% for page in site.pages %}
					{% if page.title %}
						<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</header>
</div>
